<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dtomapper.FileInfoMapper">

    <insert id="insertFile" parameterType="com.example.demo.dto.FileInfo">
	    insert into  file_info (id,file_id,position) VALUES (#{id},#{fileId},#{position})
	</insert>

</mapper>